@media (max-width: 767px) {
    .homeContent{
        position: relative;
    }
    .homeText{
        width: 100%; 
        height: fit-content;
        z-index: 10;
        gap: 1em;
    }
    .homeText p{
        text-align: start;
        padding: 1em;
    }
    .homeText h1{
        font-size: 2em;
    }
    .homeMainImage{
        position: absolute;
        top: 10;
        right: 0;
        width: fit-content;
    }
    .homeMainImage img{
        height: 10em;
    }
    .homeMarquee{
        margin: 3em 0em;
    }
    .homeMarquee p{
        font-size: 1em;
    }
    .homeAboutUs{
        height: fit-content;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    .homeFacts{
        flex-direction: column;
        gap: 2em;
        margin-bottom: 3em;
    }
    .factContainer{
        display: flex;
        width: 100%;
        padding: 0;
    }   
    .factImgName{
        height: fit-content;
        display: flex;
        gap: 1em;
        flex-direction: row;
    }
    .factContainer span{
        width: 80%;
    }
    .aboutUsText{
        width: 100%;
        flex-wrap: wrap;
        gap: .5em;
    }
    .aboutUsLogo{
        position: static;
        width: 100%;
        gap: .5em;
    }
    .aboutUsTextImg{
        width: 100%;
        flex-wrap: wrap;
        padding: 0;
        height: fit-content;
    }
    .aboutUsLogoText{
        width: 100%;
        height: fit-content;
        display: flex;
        gap: 2em;
    }
    .aboutUsLogoImg{
        display: none;
    }
    .aboutUsLogoVideo{
        padding: 0;
    }
    .aboutUsLogoVideo video{
        border-radius: 1em;
    }
    .aboutUsScroll {
        margin-top: 1em;
        padding: 0;
        width: 100%;
        justify-content: center;
    }
    .aboutUsScroll p{
        font-size: 1em;
    }
    .aboutUsScroll h1{
        font-size: 1.2em;
    }
    .aboutUsScroll span{
        font-size: 1em;
        color: grey;
    }
    .scrollSectors{
        gap: 1.5em;
    }
    .scrollEffectContainer{
        display: none;
    }
    .links{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
    .link{
        width: 100%;
    }
    .linkText h1{
        font-size: 1em;
    }
    .linkText p{
        font-size: .7em;
    }
    .homeMarqueeFocus{
        width: 100%;
        border-top: .1em solid black;
        border-bottom: .1em solid black;
    }
    .homeMarqueeFocus p{
        font-size: 1em;
    }
    .clients{
        display: flex;
        flex-wrap: wrap;
        column-count: 2;
        margin: 0;
    }
    .clientLogo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .clientLogo img{
        opacity: 1;
    }
}

/* Tablet */
@media (min-width: 768px) and
        (max-width: 1024px) {
            .homeContent{
                position: relative;
            }
            .homeText{
                height: fit-content;
                gap: 2em;
                margin-top: 3em;
                width: 60%;
                z-index: 10;
            }
                .homeText p{
                    font-size: .8em;
                    font-weight: 500;
                    text-transform: uppercase;
                }
                .homeText h1{
                    font-size: 3em;
                }
                .homeMainImage img{
                    height: 22em;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            .homeMarquee p{
                font-size: 1.5em;
            }
            .homeMarquee div{
                width: 217%;
            }
            .homeAboutUs{
                display: flex;
                flex-direction: column;
                gap: 2em;
                margin: 0;
            }
            .factContainer{
                display: flex;
                justify-content: center;
                align-items: center;
                width: fit-content;
                height: 100%;
                padding: 2em 0;
            }
            .factImgName{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .factImgName span{
                text-align: center;
            }
            .aboutUsText{
                width: 100%;
                flex-wrap: wrap;
            }
            .aboutUsLogo{
                position: static;
                width: 100%;
                display: flex;
                gap: 2em;
            }
            .aboutUsTextImg{
                width: 100%;
                flex-wrap: wrap;
                padding: 0;
                height: fit-content;
            }
            .aboutUsLogoText{
                width: 100%;
                height: fit-content;
                display: flex;
                gap: 2em;
            }

            .aboutUsLogoText span{
                text-align: end;
            }
            .aboutUsLogoImg{
                display: none;
            }
            .aboutUsLogoVideo{
                padding: 0;
            }
            .aboutUsLogoVideo video{
                border-radius: 1em;
            }
            .aboutUsScroll {
                padding: 0;
                width: 100%;
                justify-content: center;
            }
            .aboutUsScroll p{
                font-size: 2em;
                text-align: center;
            }
            .aboutUsScroll h1{
                font-size: 1.2em;
            }
            .aboutUsScroll span{
                font-size: 1em;
                color: grey;
            }
            .scrollSectors{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-count: 2;
            }
            .scrollSector{
                width: 100%;
            } 
            .scrollSector p{
                font-size: 1em;
                text-align: start;
            }
            .scrollLeft,
            .scrollRight{
                display: flex;
                align-items: center;
                font-size: 2em;
                align-content: center;
            }
            .links{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-count: 2;
            }
            .link{
                width: 100%;
            }
            .homeMarqueeFocus p{
                font-size: 1.5em;
            }
            .homeMarqueeFocus div{
                width: 226%;
            }
            .clients{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                margin: 0;
            }
        }

/* Laptop */
@media (min-width: 1025px) and
        (max-width: 1440px) {
            .homeAboutUs{
                display: flex;
                flex-direction: column;
                gap: 2em;
                margin: 0;
            }
            .homeMainImage img{
                height: 30em;
                position: absolute;
                top: 0;
                right: 0;
            }
            .homeText{
                height: fit-content;
                padding-top: 3em;
            }
            .homeText h1{
                text-align: start;
                font-size: 3em;
                padding-left: 2em;
            }
            .homeMarquee div{
                width: 321%;
            }
            .factContainer{
                width: fit-content;
            }
            .factImgName{
                display: flex;
                flex-direction: row;
                gap: 1em;
            }
            .aboutUsScroll p{
                font-size: 1.4em;
            }
            .aboutUsScroll h1{
                font-size: 1.7em;
            }
            .aboutUsScroll span{
                font-size: 1em;
                color: grey;
            }
            .scrollSector p{
                font-size: 1em;
                color: grey;
            }
            .scrollLeft,
            .scrollRight{
                position: relative;
                display: flex;
                align-items: center;
                font-size: 3em;
                font-weight: 700;
                justify-content: center;
                width: fit-content;
            }
            .homeMarqueeFocus div{
                width: 267%;
            }
        }

    /* Desktop */
@media (min-width: 1441px) {
    .homeContent{
        position: relative;
    }
    .homeMainImage{
        width: 59.5em;
        position: absolute;
        top: 0;
        right: 0;
    }
}
