.researchCenterContent{    font-family: var(--serif-font);
    background-color: #181818;
}
.researchCenterLogo{
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
}
.researchCenterLogo img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
.researchCenterLogoText{
    width: 50%;
    height: 100%;
    color: var(--light-text);
    display: flex;
    justify-content: center;
    align-items: center;
}
.researchCenterLogoText div{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
}
.researchCenterLogoText p{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1em;
    text-align: start;
}
.researchCenterLogoText h1{
    font-size: 4em;
}
.researchCenterLogoText a{
    text-decoration: none;
    border: none;
    background-color: #ff3333;
    color: var(--light-text);
    padding: 1em 2em;
    font-size: 1.2em;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}
.researchCenterLogoText a:hover{
    background-color: #d82b2b;
}
.researchCenterLogoVideo{
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.researchCenterLogoVideo video{
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.researchCenterFacts{
    height: 100vh;
    padding-top: 10vh;
    display: flex;
}
.researchCenterFactsContainer,
.researchCenterFactsText{
    width: 50%;
}
.researchCenterFact{
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    position: relative;
    padding-top: 5em;
}
.researchCenterFact div{
    position: absolute;
    top: 35%;
    right: 0;
    height: 30em;
    width: 25em;
    border-radius: 20px;
    padding: 2em;
    background-color: var(--light-text);
    color: var(--dark-text);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.researchCenterFact div svg{
    height: 5em;
}
.researchCenterFact div p{
    font-size: 2em;
}
.researchCenterFact img {
    height: 35em;
    border-radius: 20px;
    animation: factSlide .4s forwards;
}
@keyframes factSlide {
    0%{transform: translateX(-100%);}
    100%{transform: translateX(0);}
}
.researchCenterFactsText{
    padding: 3em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.researchCenterFactsText p{
    width: 50%;
    color: var(--light-text);
}
.researchCenterFactsTextButtonsContainer{
    height: 100%;
    width: 70%;
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-direction: column;
}
.activeFactBtn{
    background-color: transparent;
    border: none;
    color: var(--light-text);
    font-size: 3em;
    text-align: start;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.factBtn{
    background-color: transparent;
    border: none;
    color: rgb(83, 83, 83);
    font-size: 3em;
    text-align: start;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.factBtn:hover{
    color: rgb(139, 139, 139);
}
.researchCenterMarquue{
    width: 95%;
    margin: auto;
    padding: 1em 0;
    margin-top: 3em;
    overflow: hidden;
    border-top: 2px solid var(--light-text);
    border-bottom: 2px solid var(--light-text);
    mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
}
.researchCenterMarquue p{
  padding-right: .2em;
  font-size: 2em;
  color: var(--light-text);
}