/* Phone */
@media (max-width: 767px) {
        .headerBody{
            position: sticky;
            top: 0;
            left: 0;
            z-index: 100;
            background-color: #ff6262;
        }
        .logoContainer img{
            height: 3em;
        }
        .navContainer,
        .headerSocialIconsContainer{
            display: none;
        }
        .responsiveNavBtn{
            display: block;
            background-color: transparent;
            border: none;
            height: 2.5em;
            width: 2.5em;
        }
        .responsiveNavBtn svg{
            height: 2.5em;
            width: 2.5em;
        }
        .mobileMenu{
            position: fixed;
            right: 0;
            transform: translateX(100%);
            height: fit-content;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1em;
            flex-wrap: wrap;
            flex-direction: column;
            transition: all .5s ease-in-out;
            overflow-x: hidden;
            top: 0;
            padding: 0 2em 2em 2em;
            margin-top: 7vh;
            font-size: 1.5em;
            background-color: #ffffff;
        }
        .mobileNavBtn{
            display: flex;
            flex-direction: column;
        }
        .mobileSocialIcons{
            display: flex;
            padding: 1em;
            justify-content: space-around;
            width: 80%;
        }
        .mobileSocialIcon svg{
            height: 1.5em;
        }
        .mobilePhone{
            font-family: var(--serif-font);
            font-weight: 500;
        }
            .mobilePhone p{
                transition: all .2s ease-in-out;
            }
            .mobilePhone p:active{
                transform: scale(.9);
            }
        .mobileMenu.open{
            transform: translateX(0);
            top: 0;
        }
        .open{
            backdrop-filter: blur(5px);
        }
}

/* Tablet */
@media (min-width: 768px) and
        (max-width: 1023px) {
            .logoContainer img{
                height: 3em;
            }
            .navBtn,
            .activeNavBtn{
                font-size: var(--laptop-font);
            }
            .headerSocialIconsContainer svg{
                height: 1em;
            }
            .socialIcon{
                height: 2em;
                width: 2em;
            }
        }

/* Laptop */
@media (min-width: 1024px) and
        (max-width: 1439px) {
            .logoContainer img{
                height: 3em;
            }
            .navBtn,
            .activeNavBtn{
                font-size: var(--laptop-font);
            }
            .headerSocialIconsContainer svg{
                height: 1em;
            }
            .socialIcon{
                height: 2em;
                width: 2em;
            }
        }