/* Phone */
@media (max-width: 767px) {
        .footerBody{
            height: fit-content;
        }
        .footerNav img{
            display: none;
        }
        .footerNavBtn{
            width: 100%;
            align-items: center;
        }
        .address,
        .updates,
        .phone{
            font-size: .7em;
            width: fit-content;
            text-align: center;
        }
        .footerCopyright{
            font-size: .8em;
        }
        .footerCopyright{
            gap: 1em;
        }
    }

/* Tablet */
@media (min-width: 768px) and
        (max-width: 1023px) {
            .footerBody{
                background-color: rgb(172, 120, 255);
            }
            .address,
            .updates{
                
                width: fit-content;
            }
            .footerNavBtn{
                border: 1px solid red;
                justify-content: space-between;
            }
            .footerNavBtn button{
                border: 1px solid black;
            }
        }

/* Laptop */
@media (min-width: 1024px) and
        (max-width: 1439px) {
            .footerBody{
                background-color: aquamarine;
            }
        }
