.clients{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 4em;
  }
  .clientLogo img{
    opacity: .25;
    transition: all .2s ease-in-out;
  }
  .clientLogo img:hover{
    opacity: 1;
  }
  