.laboratoryAnalisysBody{
    margin-top: 7vh;
}
.laboratoryAnalisysContent{
    display: flex;
    gap: 5em;
    align-items: center;
    flex-direction: column;
    font-family: var(--serif-font);
}
.analisysLogo{
    height: 90vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logoTop,
.logoMidle,
.logoBottom{
    font-size: 5em;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
}
.logoTop img,
.logoBottom img{
    height: 2em;
}
.logoTop{
    justify-content: start;
}
.logoMidle{
    justify-content: center;
}
.logoBottom{
    justify-content: end;
}
.laboratoryAnalisysMarquee{
    width: 95%;
    margin: auto;
    padding: 1em 0;
    margin-top: 3em;
    overflow: hidden;
    border-top: 2px solid var(--dark-text);
    border-bottom: 2px solid var(--dark-text);
    mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
}
.laboratoryAnalisysMarquee p{
  padding-right: .2em;
  font-size: 2em;
}
.ourServices{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.ourServices P{
    font-weight: 600;
}
.ourServicesContainer{
    display: flex;
    gap: 1em;
}
.ourServices p{
    width: 100%;
}
.ourServices h1{
    width: 100%;
}
.servicesContainer{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    cursor: pointer;
    position: relative;
}
.servicesImgContainer{
    overflow: hidden;
    border-radius: 5%;
}
.servicesContainer:hover img{
    transform: scale(1.2);
}
.servicesContainer::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background: rgb(173, 173, 173);
    width: 100%;
}
.servicesContainer::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: var(--dark-text);
    width: 0;
    transition: all .4s ease-in-out;
}
.servicesContainer:hover::after{
    width: 100%;
}
.servicesContainer img{
    width: 100%;
    border-radius: 5%;
    transition: all .3s ease-in-out;
}
.servicesNameContainer{
    display: flex;
    overflow: hidden;
}
.servicesContainer p{
    width: 1.5em;
    font-size: 2em;
}
.servicesContainer span{
    width: fit-content;
    font-size: 2em;
    font-weight: 500;
}
.serviceName{
    display: flex;
    transform: translateX(-1.5em);
    transition: all .3s ease-in-out;
}
.serviceNumber{
    display: flex;
    transform: translateX(-100%);
    transition: all .3s ease-in-out;
}
.servicesContainer:hover .serviceName{
    transform: translateX(0);
}
.servicesContainer:hover .serviceNumber{
    transform: translateX(0);
}
.counters{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10em;
}
.counterContainer{
    width: 15%;
    text-align: center;
}
.counterContainer h1{
    font-size: 1.5em;
    font-weight: 500;
}
.counter{
    font-size: 4em;
    font-weight: 600;
}
.laboratoryAnalisysVideo{
    height: 70vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.laboratoryAnalisysVideo video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.laboratoryAnalisysFacts{
    display: flex;
    gap: 1em;
    width: 90em;
}
.laboratoryFactContainer{
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: fit-content;
    align-items: center;
    width: 25%;
    padding: 4em 1em;
    border-radius: 10%;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.laboratoryFactContainer:hover{
    background-color: #0984e3;
}

.laboratoryAnalisysFactsIcon{
    height: 4em;
    color: #0984e3;
    transition: all .3s ease-in-out;
}
.laboratoryAnalisysFactsName{
    font-size: 1.3em;
    transition: all .3s ease-in-out;
    color: var(--dark-text);
}
.laboratoryAnalisysFactsDescription{
    font-size: 1em;
    color: grey;
    text-align: center;
    transition: all .3s ease-in-out;
}
.laboratoryFactContainer:hover .laboratoryAnalisysFactsIcon,
.laboratoryFactContainer:hover .laboratoryAnalisysFactsName,
.laboratoryFactContainer:hover .laboratoryAnalisysFactsDescription {
    color: var(--light-text);
}
.environmentalImpact{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: end;
    position: relative;
}
.environmentalImpactImages{
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 60%;
    top: 0;
    left: 0;
}
.environmentalImpactImage{
    height: 80%;
    border-radius: 20px;
}
.environmentalImpactBackground{
    display: flex;
    padding-left: 20em;
    gap: 3em;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 60%;
    border-radius: 3%;
    background-color: #f7f6f9;
}
.environmentalImpactName {
    font-weight: 600;
}
.environmentalImpactDescription{
    color: grey;
    width: 60%;
}
.environmentalImpactList{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.environmentalImpactListItem{
    display: flex;
    gap: 1em;
}
.ourTeamButton{
    border: none;
    background-color: #ff3333;
    color: var(--light-text);
    padding: 1em 2em;
    font-size: 1.2em;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}
.ourTeamButton:hover{
    background-color: #d82b2b;
}